/*===========================
=            APP            =
===========================*/

.app {
	display: none;
    padding: 4%;

    .block-inner {
        position: relative;
        height: 100%;
        width: 100%;
        border: 1px solid #e7e7e7;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        & > p {
            text-align: center;
            font-size: 4vw;
            color: white;
            font-weight: bold;
            margin: 0;
            line-height: 90%;

            &:nth-of-type(1) {
            	margin-top: 5%;
            	margin-bottom: 1%;
            }

            &:nth-of-type(2) {
            	font-size: 6.5vw;
        	    color: #00da7c;
        	    margin-bottom: 3%;
            }
        }
    }

    .app-icon-wrap {
        display: flex;
        height: 8%;
        justify-content: space-between;
        padding: 0% 8%;

        img {
            height: 100%;
            align-self: center;
        }
    }

    .phone-wrap {
    	width: 35%;
    	position: relative;

    	.phone {
    	    height: 90%;
    	    align-self: center;
    	    opacity: 0;
    	    position: absolute;
    	    @include transition(all 1s ease);
    	    -webkit-transform: translateZ(0);

    	    &.active {
    	    	opacity: 1;
    	    }
    	}
    }

    .app-icon {}

    .googleplay-icon {}

    .appstore-icon {}

    .bottom-wrap {
        display: flex;
        flex-direction: row;
        height: 50%;
        align-self: flex-end;
        margin-top: auto;
        width: 100%;

        .feature-list {
            width: 65%;
            color: white;
            font-style: italic;
            display: flex;
            flex-direction: column;

            p {
                margin: 3% 0px;
                font-size: 2vw;
                padding-left: 15%;
                opacity: .8;
                @include transition(all .2s ease);

                &.active {
                	font-weight: bold;
                	opacity: 1;
                }
            }
        }
    }
}