/*===============================
=            LEADERS            =
===============================*/

.leaders {
    display: none;
    padding: 4%;
    opacity: 1;
    @include transition(all 1s ease);

    &.active {
        display: block;
    }
    &.transition-1 {
        padding: 0%;
    }
    &.transition-2 {
        @include transition(all 1s ease);
        opacity: 0;
    }
    .block-inner {
        position: relative;
        height: 100%;
        width: 100%;
        border: 1px solid #e7e7e7;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include transition(all 1s ease);

        &.transition-1 {
            background-color: rgba(255, 255, 255, 0.85);
            border: none;
        }

        &.transition-2 {
            background-color: transparent;
            @include transition(all 0s ease);
        }

        .leader-section {
            flex-grow: 1;
            border-bottom: .002vw solid #a7a7a7;
            position: relative;
            display: flex;
            overflow: hidden;
            opacity: 0;

            &.transition-1 {
                top: 0% !important;
                opacity: 1;
            }

            &:nth-child(1) {
                background-color: rbga(255, 255, 255, 0.8);
                top: -25%;
                flex-direction: column;
                border: none;
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
                left: 0%;
                flex-grow: 0.5;

                @include transition(all 1s ease);
            }

            &:nth-child(2) {
                top: -50%;
                left: 0%;

                @include transition(all 1s ease-out);

                .leader-stat-wrap {
                    transition-delay: 0.15s;
                }

                &.transition-2 {
                    background-color: rgba(255, 255, 255, 0.85);
                    transition-delay: 0;
                    @include transition(all 0s ease-out);
                }
                &.transition-3 {
                    left: 100%;
                    @include transition(all 1s ease-out);
                }
            }

            &:nth-child(3) {
                top: -75%;
                left: 0%;

                @include transition(all 1s ease-out);

                .leader-stat-wrap {
                    transition-delay: 0.1s;
                }

                &.transition-2 {
                    background-color: rgba(255, 255, 255, 0.85);
                    transition-delay: 0;
                    @include transition(all 0s ease-out);
                }
                &.transition-3 {
                    left: -100%;
                    @include transition(all 1s ease-out);
                }
            }

            &:nth-child(4) {
                top: -100%;
                left: 0%;

                @include transition(all 1s ease-out);

                .leader-stat-wrap {
                    transition-delay: 0.05s;
                }

                &.transition-2 {
                    background-color: rgba(255, 255, 255, 0.85);
                    transition-delay: 0;
                    @include transition(all 0s ease-out);
                }

                &.transition-3 {
                    left: 100%;
                    @include transition(all 1s ease-out);
                }
            }

            .leader-subsection {
                flex-grow: 1;
                position: relative;
                flex: 1;
                display: flex;
                align-items: center;



                img {
                    width: 15%;
                    height: 75%;
                    align-self: center;
                }

                p {
                    color: white;
                    font-weight: 500;
                    font-size: 3.5vw;
                    margin: 0;
                }

                .leaders-title {
                    padding-left: 0%;
                    font-size: 3.9vw;
                    white-space: nowrap;
                    font-weight: 700;
                }

                &.top {
                    padding: 0% 3%;
                    top: -25%;
                    left: 0%;
                    @include transition(all 1s ease-out);
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.4+68,0.5+100 */
                    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 68%, rgba(255, 255, 255, 0.5) 100%);

                    /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 68%, rgba(255, 255, 255, 0.5) 100%);

                    /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 68%, rgba(255, 255, 255, 0.5) 100%);

                    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=1 );

                    /* IE6-9 */
                    @include transition(all 1s ease);

                    &.transition-3 {
                        left: 100%;
                    }
                }

                &.bottom {
                    padding: 0px 20%;
                    justify-content: space-between;
                    background-color: white;
                    left: 0%;
                    @include transition(all 1s ease-out);

                    &.transition-3 {
                        left: -100%;
                    }

                    p {
                        color: #dbdbdb;

                        @include transition(all 1s ease);

                        &.transition-1 {
                            color: #121212;
                        }
                    }

                    .underline {
                        @include transition(all 0.6s ease-out);

                        display: inline-block;
                        text-decoration: none;
                        height: 5%;
                        width: 10%;
                        background-color: #008348;
                        overflow: hidden;
                        position: absolute;
                        height: 5%;
                        width: 10%;
                        top: 78%;
                        left: 20%;

                        &.transition-1 {
                            width: 13%;
                            left: 43%;
                        }

                        &.transition-2 {
                            width: 11%;
                            left: 69%;
                        }
                    }
                }
            }

            .leader-stat-wrap {
                position: absolute;
                display: flex;
                width: 100%;
                height: 100%;
                font-size: 3.8vw;
                line-height: 1.2;
                font-weight: 500;
                padding: 5% 3%;

                @include transition(all 1s ease);

                p {
                    position: absolute;
                    margin: 0;
                }

                /* SLIDING */

                &:nth-child(1) {
                    left: 0%;

                    &.transition-1 {
                        left: -100%;
                    }
                }

                &:nth-child(2) {
                    left: 100%;

                    &.transition-1 {
                        left: 0%;
                    }

                    &.transition-2 {
                        left: -100%;
                    }
                }

                &:nth-child(3) {
                    left: 100%;

                    &.transition-2 {
                        left: 0%;
                    }

                    &.transition-3 {
                        left: -100%;
                    }
                }

                &:nth-child(4) {
                    left: 100%;

                    &.transition-3 {
                        left: 0%;
                    }

                    &.transition-4 {
                        left: -100%;
                    }
                }

                &:nth-child(5) {
                    left: 100%;

                    &.transition-4 {
                        left: 0%;
                    }

                    &.transition-5 {
                        left: -100%;
                    }
                }

                &:nth-child(6) {
                    left: 100%;

                    &.transition-5 {
                        left: 0%;
                    }
                }

                .stat {
                    font-size: 3.4vw;

                    span {
                        color: #008348;
                        font-weight: bold;
                        font-size: 4.2vw;
                    }
                }

                .name {
                    color: #848484;

                    span {
                        font-weight: 400;
                    }
                }

                .headshot {
                    height: 90%;
                    position: absolute;
                    right: 2%;
                    bottom: 0px;
                }
            }
        }
    }
}