/*========================================
=            PLAYER SPOTLIGHT            =
========================================*/

.block-wrap.player-spotlight {
    display: none;
    z-index: 50;
    padding: 0%;

    &.transition-1{
        display: block;
    }

    @include transition(all 0.7s ease-out);

    .player-box {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;

        .headshot {
            @include transition(all 0.7s ease);

            height: 100%;
            position: absolute;
            transform: translate3d(-18%, 0, 0);
            opacity: 0;
            z-index: 10;

            &.transition-1 {
                transform: translate3d(-200%, 0, 0);
            }
        }
    }

    .player-wrap {
        height: 100%;
        display: none;

        &.active {
            display: block;
        }
    }

    .top-wrap {
        height: 50%;
        background: #FFF;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
        width: 100%;
        z-index: 10;
        position: relative;
        transform: translate3d(0,0,0);
        @include transition(all 0.7s ease-out);

        p {
            margin: 0;
            font-family: "futura-pt",Helvetica,Arial,sans-serif !important;
        }

        &.transition-2 {
            transform: translate3d(0,-100%,0);
        }

        .player-top {
            display: flex;
            flex-direction: column;
            height: 100%;

            .silo {
                @include transition(all 0.5s ease);

                position: absolute;
                height: 90%;
                z-index: -10;
                top: 5%;
                transform: translate3d(280%, 0px, 0px);

                &.transition-1 {
                    transform: translate3d(130%, 0px, 0px);
                }
            }

            .top, .middle, .bottom {
                display: flex;
                flex-direction: row;
            }

            .top {
                padding: 0px 5%;
                justify-content: space-between;
                height: 45%;

                .player-name-wrap {
                    @include transition(all 0.5s ease);

                    width: 35%;
                    transform: translate3d(160%, 0px, 0px);
                    top: 5%;
                    position: absolute;

                    &.transition-1 {
                        transform: translate3d(0%, 0px, 0px);
                    }
                }

                p {
                    display: inline;
                    font-family: "futura-pt",Helvetica,Arial,sans-serif !important;
                    font-weight: 600;
                    color: #008348;

                    &.player-name {
                        @include transition(all 0.5s ease);

                        font-size: 4vw;
                        line-height: 1.1em;
                        text-align: right;
                        position: absolute;
                        width: 100%;
                        top: 5%;
                        display: none;

                        &.transition-1 {
                            width: 25%;
                        }
                    }

                    &.player-number {
                        @include transition(all 0.5s ease);

                        position: absolute;
                        top: 5%;
                        width: 10%;
                        text-align: center;
                        font-size: 3vw;
                        transform: translate3d(1000%, 0, 0);

                        &.transition-1 {
                            transform: translate3d(825%, 0, 0);
                        }
                    }

                    span {
                        font-weight: 200;
                    }
                }
            }

            .middle {
                padding: 0px 5%;
                height: 10%;

                .info {
                    @include transition(all 0.5s ease);

                    margin: 0;
                    padding: 0px;
                    white-space: nowrap;
                    list-style-type: none !important;
                    font-weight: bold;
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    justify-content: flex-end;
                    display: flex;
                    position: absolute;
                    font-size: 1.8vw;
                    transform: translate3d(170%, 0, 0);
                    width: 60%;

                    &.transition-1 {
                        justify-content: flex-start;
                        transform: translate3d(0, 0, 0);
                    }

                    br {
                        display: none;
                    }

                    li {
                        float: left;
                        white-space: nowrap;
                        padding-right: 20px;

                        &:last-child {
                            padding-right: 0px;
                        }

                        p {
                            font-weight: 400 !important;
                            color: #939393;

                            span {
                                color: #212121;
                                font-weight: 500 !important;

                                &.info-value {}
                            }
                        }
                    }
                }
            }

            .bottom {
                padding: 5% 5%;

                .averages {
                    @include transition(all 0.5s ease);

                    width: 45%;
                    position: absolute;
                    table-layout: fixed;
                    border-collapse: collapse;
                    transform: translate3d(215%, 0, 0);

                    &.transition-1 {
                        transform: translate3d(0%, 0, 0);
                    }

                    p {
                        text-align: center;
                        margin: 15%;
                    }

                    td {
                        border: 1px solid #dddddd;
                        background-color: #f2f2f2;
                        color: #212121;
                        font-weight: 500;

                        &:first-child {
                            @media (max-width: 550px) {
                                display: none;
                            }
                        }
                    }

                    th {
                        background-color: #dddddd !important;
                        color: #212121;
                        font-weight: 800px;
                        text-align: left;
                        width: 20%;
                        min-width: 100px;
                    }

                    &-labels {
                        border-bottom: none;
                        font-size: 1.4vw;

                        td {
                            text-align: center;
                            padding: 0;
                            border-bottom: none;
                            padding: 2% 0px 0px 0px;
                            font-weight: 400;

                            p {
                                margin: 0;
                                color: #8a8d8f;
                            }
                        }
                    }

                    &-season {
                        td {
                            text-align: center;
                            font-size: 1.8vw;
                            border-top: none;
                        }
                    }
                }
            }
        }
    }

    .bottom-wrap {
        height: 50%;
        width: 100%;
        opacity: 0;
        background: url(https://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/celtics/media/gameday-jersey-bg-1400x600.jpg);
        background-size: cover;
        position: relative;
        padding: 5%;
        transform: translate3d(0,0,0);

        @include transition(all 0.7s ease-in);

        h3 {
            border: none;
            margin-top: 0;
            font-family: 'futura-pt', 'Helvetica', 'sans-serif';
            font-size: 1.6vw;
            margin-bottom: 2%;
        }

        &.transition-1 {
            opacity: 1;
        }

        &.transition-2 {
            @include transition(all 0.7s ease-out);
            transform: translate3d(0,100%,0);
        }

        .dyk-box {
            @include transition(all 0.5s ease);

            border-radius: 5px;
            border: 1px solid #dddddd;
            background-color: rgba(255,255,255,0.6);
            width: 90%;
            position: absolute;
            left: 50%;
            padding: 2% 4%;
            transform: translate3d(65%, 0, 0);
            max-height: 40%;

            &:nth-of-type(2){
                transform: translate3d(-50%, 0, 0);
            }

            &.transition-1 {
                transform: translate3d(-50%, 0, 0);
            }

            &.transition-2 {
                transform: translate3d(-165%, 0, 0);
            }
        }

        p {
            margin: 0;
            font-size: 1.6vw;
            text-align: center;
            font-family: 'Roboto', Helvetica, sans-serif;
        }

        .timeline-outer-wrap {
            height: 30%;
            margin-bottom: 7%;
        }

        .timeline-wrap {
            display: flex;
            -js-display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            div {
                display: flex;
                -js-display: flex;

                .segment {
                    flex-grow: 1;
                    border: 1px solid #cbcbcb;
                    display: flex;
                    -js-display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: center;

                    &-inner {
                        flex-grow: 1;
                        position: relative;
                        display: flex;
                        -js-display: flex;
                        height: 100%;
                        align-items: center;
                        opacity: 1;
                        flex-basis: auto;
                        justify-content: center;

                        &:hover {
                            opacity: .8;
                        }

                        p {
                            position: absolute;
                            width: 100%;
                            text-align: center;
                            color: white;
                            font-family: 'futura-pt';
                            font-weight: 600;
                            font-size: 1.4vw;
                        }
                    }

                    p {
                        text-align: center;
                    }
                }
            }

            .timeline {
                height: 50%;
            }

            .season-year {
                height: 30%;
                .segment {
                    border: 1px solid transparent;
                    flex-basis: auto;

                    p {
                        font-size: 1.1vw;
                    }
                }
            }
        }
    }
}