/*==============================
=            SCORES            =
==============================*/

.scores-and-leaders  {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    position: absolute;
    left: -100%; //
    opacity: 1;

    @include transition(all 1s ease);

    &.transition-1 {
        left: 0%;
        opacity: 1;
    }

    .scores {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: flex-start;
        left: 0%; //
        opacity: 1;
        flex-grow: 1;
        flex-basis: 40%;

        .score-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 16%;
            width: 48%;
            min-width: 48%;
            background-color: rgba(255,255,255,0.9);
            border-radius: 2px;
            font-size: 1.3vw;
            font-weight: 600;
            padding: 1% 2% 2% 2%;
            margin-bottom: 4%;

            .score-status {
                font-size: 1.1vw;
            }

            img {
                height: 35%;
                margin-right: 2%;
            }

            .score-num {
                color: #212121 !important;
                margin-left: auto;
            }

            & > div {
                display: flex;
                font-size: 1.2vw;
                font-weight: 600;
                align-items: center;
            }
        }
    }

    .league-leaders {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        position: relative;

        .title {
            display: flex;
            justify-content: space-between;
            padding: 0% 2%;
            p {
                margin: 1% 0%;
                color: white;
                font-size: 2.3vw;
                font-weight: 400;

                @include transition(all 1s ease);

                &:nth-child(1) {
                    margin-right: 10%;
                    font-weight: 600;
                    opacity: 1;
                }

                opacity: .1;

                &.active {
                    opacity: 1;
                }
            }
        }

        .league-leaders-wrap {
            width: 100%;
            opacity: 0;
            flex-direction: column;
            border: 1px solid white;
            border-radius: 2px;
            display: flex;
            position: absolute;
            height: 83%;
            bottom: 0;
            @include transition(all 1s ease);

            &.active {
                opacity: 1;
            }

            .left {
                display: flex;
                flex-basis: 90%
            }

            .right {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                flex-basis: 10%;
                justify-content: center;
            }

            .row {
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                padding: 0% 4%;
                background-color: rgba(255, 255, 255, 0.2);
                align-items: center;
                color: white;

                &:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.3)
                }

                div {
                    margin: 0;
                    font-size:2vw;

/*                     &:nth-child(3) {
                        align-self: flex-end;
                    } */

                }
                .place {
                    padding-right: 2%;
                }

                .logo-wrap {
                    width: 14%;
                    display: flex;
                    align-items: center;
                    padding-right: 8%;

                    .logo {
                        width: 6%;
                        position: absolute;
                    }
                }

                .name {

                }
            }
        }
    }
}
