/*========================================
=                STANDINGS               =
========================================*/

.standings {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    position: absolute;
    left: 0%;
    @include transition(all 1s ease);

    &.transition-1 {
        left: -100%;
    }

    .bottom-wrap {
        height: 100%;
        width: 100%;
        display: flex;
        border: 1px solid #8a8a8a;

        .active {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008348+0,008348+100&0.35+0,0.35+32,0.2+100 */
            background: -moz-linear-gradient(left, rgba(0, 131, 72, 0.35) 0%, rgba(0, 131, 72, 0.35) 32%, rgba(0, 131, 72, 0.2) 100%);
            background: -webkit-linear-gradient(left, rgba(0, 131, 72, 0.35) 0%, rgba(0, 131, 72, 0.35) 32%, rgba(0, 131, 72, 0.2) 100%);
            background: linear-gradient(to right, rgba(0, 131, 72, 0.35) 0%, rgba(0, 131, 72, 0.35) 32%, rgba(0, 131, 72, 0.2) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59008348', endColorstr='#33008348',GradientType=1 );
        }

        .active-away {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,bfbfbf+100&0.66+0,0.66+18,0.3+100 */
            background: -moz-linear-gradient(left, rgba(201, 201, 201, 0.66) 0%, rgba(199, 199, 199, 0.66) 18%, rgba(191, 191, 191, 0.3) 100%);
            background: -webkit-linear-gradient(left, rgba(201, 201, 201, 0.66) 0%, rgba(199, 199, 199, 0.66) 18%, rgba(191, 191, 191, 0.3) 100%);
            background: linear-gradient(to right, rgba(201, 201, 201, 0.66) 0%, rgba(199, 199, 199, 0.66) 18%, rgba(191, 191, 191, 0.3) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8c9c9c9', endColorstr='#4dbfbfbf',GradientType=1 );
        }

        .conference {
            display: flex;
            height: 100%;
            width: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 0;
            flex-direction: column;

            & > div {
                display: flex;
                flex-grow: 1;
                padding-right: 2%;
                background-color: rgba(255,255,255,0.8);

                &:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.88)
                }

                &:nth-child(9) {
                    border-bottom: 2px solid #212121;
                }

                div {
                    flex-basis: 0;
                    display: flex;
                    align-items: center;
                    font-size: 1.5vw;
                    justify-content: center;
                }
            }
        }

        .east {
            border-right: 1px solid #212121;

            .standings-header {
                background-color: rgba(201,68,83,0.8);
                color: white;
                padding-left: 6%;

                div:first-child {
                    font-weight: bold;
                    flex-grow: 2.2;
                }
            }
        }

        .west {
            .standings-header {
                background-color: rgba(58,99,162,0.8);
                color: white;
                padding-left: 6%;

                div:first-child {
                    font-weight: bold;
                    flex-grow: 2.1;
                }
            }
        }

        .place {
            flex-grow: .6;
            font-weight: 500;
            color: #9e9e9e;
        }

        .logo-wrap {
            flex-grow: 1;
            justify-content: flex-start !important;

            .logo {
                width: 6%;
                position: absolute;
            }
        }

        .team {
            padding-right: 7%;
            font-weight: bold;
            flex-grow: .9;
        }

        .wins {
            flex-grow: 1;
        }

        .losses {
            flex-grow: 1;
        }

        .percentage {
            flex-grow: 1;
        }

        .games-behind {
            flex-grow: 1;
        }

        .streak {
            flex-grow: 1;
        }
    }
}