@import "mixins";
@import "variables";
@import "social";
@import "player-spotlight";
@import "app";
@import "leaders";

* {
    box-sizing: border-box;
    font-family: 'futura-pt', Helvetica, Arial, sans-serif;
}

/*=================================
=            CONCOURSE            =
=================================*/

.screen-outline {
    position: absolute;
    width: 1920px;
    height: 2160px;
    border: 1px solid gray;
}

body {
    margin: 0;
}

.screen-wrap {
    @include aspect-ratio(16, 9);

    width: 100%;

    .screen {
        display: flex;
    }
}

.left-wrap {
    width: 50%;
    height: 100%;
    z-index: 100;
    position: relative;
    background: url(http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/celtics/media/celtics-mobile-tile-2.png);
}

.right-wrap {
    width: 50%;
    height: 100%;
    position: relative;
}

.block-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

#video-background {
    /*  making the video fullscreen  */
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
}