@import "mixins";
@import "variables";

* {
    box-sizing: border-box;
}

/*=================================
=            CONCOURSE            =
=================================*/

.screen-outline {
    position: absolute;
    width: 1920px;
    height: 2160px;
    border: 1px solid gray;
}

body {
    margin: 0;
}

.screen-wrap {
    @include aspect-ratio(16, 9);

    width: 100%;
    border: 1px solid gray;
}

.left-wrap {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 50;
    background: url(http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/celtics/media/celtics-mobile-tile-2.png);
}

.right-wrap {
    width: 50%;
    height: 100%;
    float: right;
}

.block-wrap {
    position: absolute;
    width: 50%;
    height: 100%;
}


/*==============================
=            SOCIAL            =
==============================*/

.social {
    z-index: -100;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    .block-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }

    .top-wrap, .bottom-wrap {
        height: 48%;
        width: 100%;
    }

    #video-background {
        /*  making the video fullscreen  */
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -100;
    }

    .top-wrap {

        @include transition(all 1s ease);

        position: relative;

        &.transition {
            padding: 0;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
        }
    }

    .bottom-wrap {

        @include transition(all 1s ease);

        &.transition {
            padding: 0;
        }
    }

    .social-top, .social-bottom {
        border: 1px solid #e7e7e7;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: relative;

        &.transition {
            padding: 0;
        }

        .white-line {
            position: absolute;
            background-color: white;


            &.vertical {
                height: 0%;
                width: 2px;
                @include transition(all 0.2s linear);

                &.transition {
                    height: 100%;
                    width: 2px;
                }
            }

            &.horizontal {
            	@include transition(all 0.3s ease-out);
                height: 2px;
                width: 0%;

                &.transition {
                    height: 2px;
                    width: 100%;
                }
            }

            &:nth-child(1) {
                left: 25%;
            }

            &:nth-child(2) {
                left: 50%;
                bottom: 0;
            }

            &:nth-child(3) {
                left: 75%;
            }

            &:nth-child(4) {
                top: 50%;
            }
        }
    }

    .social-top {
    	.white-line {
    		&.vertical:nth-child(even) {
    			@include transition(all 0.2s ease-out);
    		}
    	}
    }

    .social-bottom {
    	.white-line {
    		&.vertical:nth-child(odd) {
    			@include transition(all 0.2s ease-out);
    		}
    	}
    }

    .player-box-wrap {
        width: 100%;
        opacity: 0;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: absolute;
        align-content: flex-start;

        &-top {
            align-content: flex-start;
        }

        &-bottom {
            align-content: flex-end;
        }

        &.transition {
            justify-content: center;
            align-content: center;
        }

        .player-box {
            width: 25%;
            height: 24%;
            border: 1px solid #dddddd;
            background-color: rgba(0, 0, 0, 0.5);
            float:left;
            align-self: bottom;
            overflow: hidden;
            position:relative;

            img {
                height: 100%;
                position: absolute;
                transform: translateX(-18%);
                opacity: 0;
            }

            &:nth-child(5) {
                margin-bottom: 4.42%;
            }


            &.transition {
                width: 23%;
                height: 24%;
                margin: 1%;
                @include transition(all 0.3s ease-out);

                &:nth-child(5) {
                    margin-bottom: 0;
                }
            }

            &.transition-2 {
                opacity: .7;

                &.selected {
                    background-color: rgba(255, 255, 255, .9);
                    border-color: #008348;
                    opacity: 1;
                }
            }
        }

        &.replacement {
            display: none;
            .player-box {
                position: absolute;

                // ROW 1

                &:nth-child(1){
                    left: 0%;
                    top:-1.5%;
                }

                &:nth-child(2){
                    left: 25%;
                    top:-1.5%;
                }

                &:nth-child(3){
                    left: 50%;
                    top:-1.5%;
                }

                &:nth-child(4){
                    left: 75%;
                    top:-1.5%;
                }

                // ROW 2

                &:nth-child(5){
                    left: 0%;
                    top:24.2%;
                }

                &:nth-child(6){
                    left: 25%;
                    top:24.2%;
                }

                &:nth-child(7){
                    left: 50%;
                    top:24.2%;
                }

                &:nth-child(8){
                    left: 75%;
                    top:24.2%;
                }

                // ROW 3

                &:nth-child(9){
                    left: 0%;
                    top:50%;
                }

                &:nth-child(10){
                    left: 25%;
                    top:50%;
                }

                &:nth-child(11){
                    left: 50%;
                    top:50%;
                }

                &:nth-child(12){
                    left: 75%;
                    top:50%;
                }

                // ROW 4

                &:nth-child(13){
                    left: 0%;
                    top:75.8%;
                }

                &:nth-child(14){
                    left: 25%;
                    top:75.8%;
                }

                &:nth-child(15){
                    left: 50%;
                    top:75.8%;
                }

                &:nth-child(16){
                    left: 75%;
                    top:75.8%;
                }
            }
        }
    }

    .social-bottom.transition {
        padding: 0;
        background: url(https://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/celtics/media/gameday-jersey-bg-1400x600.jpg);
        background-size: cover;
    }
}

/*========================================
=            PLAYER SPOTLIGHT            =
========================================*/

.block-wrap.player-spotlight {
    right: -100%;
    @include transition(all 0.7s ease-out);

    .player-wrap {
        height: 100%;
        display: none;

        &.active {
            display: block;
        }
    }

    .top-wrap {
        height: 50%;
        background: #FFF;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
        width: 100%;
        z-index: 10;
        position: relative;

        p {
            margin: 0;
            font-family: "futura-pt",Helvetica,Arial,sans-serif !important;
        }

        .player-top {
            display: flex;
            flex-direction: column;

            img {
                position: absolute;
                height: 90%;
                right: 30px;
                bottom: 5px;
                z-index: -10;
            }

            .top, .middle, .bottom {
                display: flex;
                flex-direction: row;
            }

            .top {
                justify-content: space-between;
                padding: 25px;

                p {
                    display: inline;
                    font-family: "futura-pt",Helvetica,Arial,sans-serif !important;
                    font-weight: 600;
                    color: #008348;

                    &.player-name {
                        font-size: 2.8em;
                        line-height: 1.1em;
                    }

                    &.player-number {
                        font-size: 2em;
                    }

                    span {
                        font-weight: 200;
                    }
                }
            }

            .middle {
                padding: 0px 25px;

                .info {
                    font-size: 1.5em;
                    float: right;
                    margin: 0;
                    padding: 0px;
                    white-space: nowrap;
                    list-style-type: none !important;
                    font-weight: bold;
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;

                    br {
                        display: none;
                    }

                    li {
                        float: left;
                        white-space: nowrap;
                        padding-right: 20px;

                        &:last-child {
                            padding-right: 0px;
                        }

                        p {
                            font-weight: 500 !important;
                            color: #939393;

                            span {
                                color: black;
                                font-weight: 400 !important;

                                &.info-value {}
                            }
                        }
                    }
                }
            }

            .bottom {
                padding: 0px 25px;
                font-size: 1.3em;
                padding-top: 55px;

                .averages {
                    width: 50%;
                    table-layout: fixed;
                    float: right;
                    margin-bottom: 10px;

                    p {
                        margin: 20px;
                    }

                    td {
                        border: 1px solid #dddddd;
                        background-color: #f2f2f2;
                        color: black;

                        &:first-child {
                            @media (max-width: 550px) {
                                display: none;
                            }
                        }
                    }

                    th {
                        background-color: #dddddd !important;
                        color: black;
                        font-weight: 800px;
                        text-align: left;
                        width: 20%;
                        min-width: 100px;
                    }

                    &-labels {
                        border-bottom: none;
                        font-size: .8em;

                        td {
                            text-align: center;
                            padding: 0;
                            border-bottom: none;

                            p {
                                margin: 0;
                                color: #8a8d8f;
                            }
                        }
                    }

                    &-season {
                        td {
                            text-align: center;
                            border-top: none;
                        }
                    }
                }
            }
        }
    }

    .bottom-wrap {
        height: 50%;
        width: 100%;
        background: url(https://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/celtics/media/gameday-jersey-bg-1400x600.jpg);
        background-size: cover;
        position: relative;

        @include transition(all 0.8s ease);
    }
}